body, head {
    background-color: gray;
  }
  
  h1 {
    color: orange;
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  